<ul class="navbar-nav">
    <li class="nav-link text-dark">
        <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="IndexCadastro">
            Registra-se
        </a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="IndexLogin">
            Login
        </a>
    </li>
</ul>