<ul class="navbar-nav">
    <li>
        
        <a class="nav-link text-white" asp-area="" asp-controller="Clientes" asp-action="IndexLogin"> Login
        </a>
    </li>

    <li class="nav-link text-dark">
        <a class="nav-link text-white" asp-area="Cadastrar" asp-controller="Clientes" asp-action="IndexCadastro"><button type="button " class="btn bg-secondary text-white rounded-pill ">CADASTRE-SE</button></a>
    </li>
    
</ul>