<div class="container-fluid sobre">
    <div id="row1" class="row">
        <!--ESPAÇAMENTO-->
    </div>

    <div id="row2" class="row">
        <div id="textbox" class="col-xl-7 col-md-11 col-sm-12">
            <h2 class="title">Quem Somos?</h2>
            <p>Fundado em 2021 através de um trabalho de TCC “Tabalho De Conclussão De Curso".</p>
            <p>Uma empresa jovem formada por profissionais de diversos ramos: tecnologia, administração, marketing, publicidade e desing.</p>
            <p>Com a proposta de trazer melhorias pro meio ambiente e incentivo a população de reciclar no seu dia a dia</p>

        </div>
    </div>
    <div id="row3" class="row justify-content-between">
        <div class="col-xl-3 col-md-6 col-sm-10 textbox2">
                <h1 class="title">Missão</h1>
                <br>
                <span>Incentivar e conscientizar as pessoas a adquirirem o hábito de reciclar por meio de troca por produtos de benefício ao cliente e informatizar </span>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-10 textbox2">
            
                <h1 class="title">Visão</h1>
                <br>
                <span>
                    Ser conhecido nacionalmente como app facilitador e apoiador que fomenta a sustentabilidade.
                </span>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-10 textbox2">
            
                <h1 class="title">Valores</h1>
                <br>
                <span>Comprometimento, fidelização, engajamento, respeito ao meio ambiente.</span>
        </div>
    </div>
</div>