@{
    ViewData["Title"] = "Home Page";
}

 <div class="backgroundUm container-fluid ">

   <div class="container-fluid  text-center">
        <div class="linhaUm row justify-content-end" >
            <div class="col-6">
                <h1>O nosso planeta conta com você!</h1>
            </div>
        </div>
        <div class="row mt-3 justify-content-end">
            <div class="col-6 ">
                <h2>Faça sua parte</h2>
            </div>
        </div>
   </div>
    
</div>

<footer class="text-center bg-dark text-muted">
        <div id="footer" class="container-fluid">
           <div id ="rowFooter"class="row justify-content-around ">
            <div class="footer-col">
                <h3>Mapa do site</h3>
                <ul>
                    <li><a href=""> Home </a></li>
                    <li><a href=""> Sobre </a></li>
                    <li><a href=""> Postos de Coleta </a></li>
                    <li><a href=""> Parceiros </a></li>
                    <li><a href=""> Noticia </a></li>
                    <li><a href=""> Consultar Pontos </a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Siga</h3>
                <ul>
                    <li><a href=""> www.ReciGanha.com.br </a></li>
                    <li><a href=""> ReciGanha</a></li>
                    <li><a href=""> ReciGanha10gmail.com</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h3>Contato</h3>
                <li><a href="">Tel:011-1234-5678</a></li>
                <li><a href="">Fax:011-9876-5432</a></li>
            </div>
            
            <div class="col-2">
                <a  asp-area="Cadastrar" asp-controller="" asp-action=""><button type="button " class="btn bg-secondary text-white rounded-pill ">Vamos Conversar Por chat!</button></a>
            </div>

           </div>
        </div>
    </footer>