@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row cen"></div>
    <div id="center" class="row align-items-center justify-content-end">
        <div id="textbox" class="col-10 col-sm-8 col-md-6">
            <h2>
            Reciclagem é a atividade mais 
            importante que podemos fazer,
            por que não a outro mundo em 
            que possamos viver.
            </h2>
        </div>
    </div>
    <div class="row sla"></div>
</div>
