@{
    ViewData["Title"] = "Home Page";
}

 <div class="backgroundUm container-fluid ">
   <div class="container-fluid  text-center">
        <div class="linhaUm row justify-content-end" >
            <div class="col-6">
                <p>O nosso planeta conta com você!</p>
            </div>
        </div>
        <div class="row mt-3 justify-content-end">
            <div class="col-6 ">
                <p>
                    Faça sua parte!
                </p>
            </div>
        </div>
   </div>
    
</div>

