@{
    ViewData["Title"] = "Home Page";
}

 <div class="backgroundUm container-fluid ">

   <div class="container-fluid  text-center">
        <div class="linhaUm row justify-content-end" >
            <div class="col-6">
                <p>O nosso planeta conta com você!</p>
            </div>
        </div>
        <div class="row mt-3 justify-content-end">
            <div class="col-6 ">
                <p>
                    Faça sua parte!
                </p>
            </div>
        </div>
   </div>
    
</div>

<footer class="text-center bg-dark text-muted">
        <div id="footer" class="container-fluid">
           <div id ="rowFooter"class="row justify-content-around ">
            <div class="col-3">
                <ul>
                    <li>Home</li>
                    <li>Sobre</li>
                    <li>Postos de Coleta</li>
                    <li>Parceiros</li>
                    <li>Notícia</li>
                    <li>Consultar Pontos</li>
                </ul>
            </div>
            <div class="col-2">
                <h6>Siga:</h6>
                <li>www.ReciGanha.com.br</li>
                <li>ReciGanha</li>
                <li>ReciGanha10gmail.com</li>
            </div>
            <div class="col-2">
                <li>Tel:011-1234-5678</li>
                <li>Fax:011-9876-5432</li>
            </div>
            <div class="col-2">
                <a  asp-area="Cadastrar" asp-controller="" asp-action=""><button type="button " class="btn bg-secondary text-white rounded-pill ">Vamos Conversar Por chat!</button></a>
            </div>
           </div>
        </div>
    </footer>