@{
    ViewData["Title"] = "Home Page";
}

 <div class="backgroundUm container-fluid ">

   <div class="container-fluid  text-center">
        <div class="linhaUm row justify-content-end" >
            <div class="col-6">
                <h1 id="TituloHome">O nosso planeta conta com você!</h1>
            </div>
        </div>
        <div class="row mt-3 justify-content-end">
            <div class="col-6 ">
                <h2 id="subtituloHome">
                    Faça sua parte!
                </h2>
            </div>
        </div>
   </div>
    
</div>

<footer class="text-center bg-dark text-muted">
        <div id="footer" class="container-fluid">
           <div id ="rowFooter"class="row justify-content-around ">
            <div class="col-3">
                <ul>
                    <li><a class="linkFooter" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="linkFooter" asp-area="" asp-controller="Sobre" asp-action="IndexSobre">Sobre</a></li>
                    <li><a class="linkFooter" asp-area="" asp-controller="Clientes" asp-action="IndexBuscarPostos">Postos de Coleta</a></li>
                    <li><a class="linkFooter" asp-area="Cadastrar" asp-controller="PostoDeColeta" asp-action="IndexCadastroPosto">Registrar Posto de coleta</a></li>
                    <li><a class="linkFooter" asp-area="Cadastrar" asp-controller="Parceiro" asp-action="IndexPageParceiro">Parceiros</a></li>
                    <li><a class="linkFooter" asp-area="" asp-controller="Clientes" asp-action="IndexLogin">Consultar Pontos</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h6>Siga:</h6>
                <li>www.ReciGanha.com.br</li>
                <li>ReciGanha</li>
                <li>ReciGanha10gmail.com</li>
            </div>
            <div class="col-2">
                <li>Tel:011-1234-5678</li>
                <li>Fax:011-9876-5432</li>
            </div>
            <div class="col-2">
                <a  asp-area="Cadastrar" asp-controller="" asp-action=""><button type="button " class="btn bg-secondary text-white rounded-pill ">Vamos Conversar Por chat!</button></a>
            </div>
           </div>
        </div>
    </footer>