@{
    ViewData["Title"] = "Home Page";
}

<style>
    .texto{
        color: white;
    }
    .quemSomos{
        color: yellow;
    }

    #footer{
        background-color: #003829;
    }

    .mvv{
        display: flex;
        
    }
    .divmvv{
        justify-content: space-evenly;
        padding-bottom: 5vh;
    }

    .title-mvv{
        font-size: 24px;
        color: yellow;
        font-weight: 400;
        margin-top: 6vh;
        margin-bottom: 1px;
    }

    .text-span{
        color: white;
    }
</style>

 <div class="backgroundUm container-fluid ">

   <div class="container-fluid  text-center">
        <div class="linhaUm row justify-content-end" >
            <div class="col-6">
                <h1 id="TituloHome">O nosso planeta conta com você!</h1>
            </div>
        </div>
        <div class="row mt-3 justify-content-end">
            <div class="col-6 ">
                <h2 id="subtituloHome">
                    Faça sua parte!
                </h2>
            </div>
        </div>
   </div>
    
</div>

<footer class="text-center bg-dark text-muted">
        <div id="footer" class="container-fluid">
           <div id ="rowFooter"class="row justify-content-around ">
            <div class="col-3">
                <ul>
                    <li><a class="linkFooter" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="linkFooter" asp-area="" asp-controller="Clientes" asp-action="IndexBuscarPostos">Postos de Coleta</a></li>
                    <li><a class="linkFooter" asp-area="Cadastrar" asp-controller="PostoDeColeta" asp-action="IndexCadastroPosto">Registrar Posto de coleta</a></li>
                    <li><a class="linkFooter" asp-area="Cadastrar" asp-controller="Parceiro" asp-action="IndexPageParceiro">Parceiros</a></li>
                    <li><a class="linkFooter" asp-area="" asp-controller="Clientes" asp-action="IndexLogin">Consultar Pontos</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h6>Siga:</h6>
                <li>www.ReciGanha.com.br</li>
                <li>ReciGanha</li>
                <li>ReciGanha10gmail.com</li>
            </div>
            <div class="col-2">
                <li>Tel:011-1234-5678</li>
                <li>Fax:011-9876-5432</li>
            </div>
            <div class="col-2">
                <a  asp-area="Cadastrar" asp-controller="" asp-action=""><button type="button " class="btn bg-secondary text-white rounded-pill ">Vamos Conversar Por chat!</button></a>
            </div>
           </div>
           <div class="texto">
            <h2 class="quemSomos">Quem Somos?</h2>
            <h4>Fundado em 2021 através de um trabalho de TCC “Tabalho De Conclussão De Curso".</h4>
            <h4>Uma empresa jovem formada por profissionais de diversos ramos: tecnologia, administração, marketing, publicidade e desing.</h4>
            <h4>Com a proposta de trazer melhorias pro meio ambiente e incentivo a população de reciclar no seu dia a dia</h4>
           </div>

           <div class="mvv">
                <div class="divmvv">
                    <h3 class="title-mvv">Missão</h3>
                <br>
                <span class="text-span">Incentivar e conscientizar as pessoas a adquirirem o hábito de reciclar por meio de troca por produtos de benefício ao cliente e informatizar </span>
                </div>
                <div class="divmvv">
                    <h3 class="title-mvv">Visão</h3>
                <br>
                <span class="text-span">
                    Ser conhecido nacionalmente como app facilitador e apoiador que fomenta a sustentabilidade.
                </span>
                </div>
                <div class="divmvv">
                    <h3 class="title-mvv">Valores</h3>
                <br>
                <span class="text-span">Comprometimento, fidelização, engajamento, respeito ao meio ambiente.</span>
                </div>
           </div>
        </div>
    </footer>