
  .content {
    padding: 11rem 0; }
  
  h2 {
    font-size: 20px; }

.img-cadastro{
    max-width: 300px;
    margin:auto;
    margin-top: 50px;
}

.btn-success{
    background-color: blue;
}



    @media (max-width: 768px){
    .img-cadastro, .col-img ,.botao-logar-cadastro{
        display: none;
    }

    .div-botao-logar-cadastro{
        margin-top: 18vh;
        margin-left: 30px; 
    }

    .cadastro{
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0;
    }

    .contents{
        background-color: white;
    }
}

.form-font{
color: white;}

.div-botao-logar-cadastro{
    margin-top: 18vh;
    margin-left: 40%;
}

.darkgreenboxCadastro{
    border-radius: 20px;
    background-color: rgb(28,60,52);
    /*border-radius: 50px;*/
}
.greenBoxCadastro{
    border-radius: 20px;
    background-color: rgba(89, 174, 51, 0.6);
    /*border-radius: 10px;*/
}

  @media (max-width: 991.98px) {

    .cadastro{
        margin-top: 18px;
        margin-bottom: 20px;
    }
    .content .bg {
      height: 500px; } }
  
  .content .contents, .content .bg {
    width: 50%; }
    @media (max-width: 1880px) {
        .cadastro{
            margin-top: 18px;
            margin-bottom: 20px;
        }


      .content .contents, .content .bg {
        width: 100%; } }




    .content .contents .form-group, .content .bg .form-group {
      overflow: hidden;
      /*margin-bottom: 0;*/
      padding: 15px 15px;
      border-bottom: none;
      position: relative;
      background: #edf2f5;
      border-bottom: 1px solid #e6edf1; }
      .content .contents .form-group label, .content .bg .form-group label {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .content .contents .form-group input, .content .bg .form-group input {
        background: transparent;
      display: flex; }
      .content .contents .form-group.nome, .content .bg .form-group.nome .form-group.email .form-group.senha {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px; }
      .content .contents .form-group.senha, .content .bg .form-group.senha {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px; }
      .content .contents .form-group label, .content .bg .form-group label {
        font-size: 12px;
        display: block;
        margin-bottom: 0;
        color: #b3b3b3; }
      .content .contents .form-group.focus, .content .bg .form-group.focus {
        background: #fff; }
      .content .contents .form-group.field--not-empty label, .content .bg .form-group.field--not-empty label {
        margin-top: -20px; }
    .content .contents .form-control, .content .bg .form-control {
      border: none;
      padding: 0;
      font-size: 20px;
      border-radius: 0; }
      .content .contents .form-control:active, .content .contents .form-control:focus, .content .bg .form-control:active, .content .bg .form-control:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
  
  .content .bg {
    background-size: cover;
    background-position: center; }
  
  .content a {
    color: #888;
    text-decoration: underline; }
  
  .content .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px; }

  


/*.background{
    background-image: url(https://i.pinimg.com/736x/92/09/38/9209386930c447fed5ea99f88dc9aa0c.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
}



.col-sm-12{

    color: aqua;
}


.center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#logo{
    position: relative;
    width: 17vw;
    top: 7.5vh;
    padding-bottom: 19vh;
}


.bem-vindo{
    color: white;
    text-shadow: 3px 3px black;
    width: 100%;
    text-align: center;
    padding-bottom: 18vh;
}

#contaExist{
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}

.entrar{
    background-color: rgb(89, 174, 51);
    padding: 10px 60px 10px 60px;
}

#h1{
    color: white;
    font-size: 55px;
    padding-top: 3vh;
    padding-bottom: 2.5vh;
    text-shadow: 3px 3px black;
}

#h3{
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px black;
    padding-bottom: 6vh;

}

.form-group{
    width: 80%;
    height: 5vh;
    background-color: rgba(89, 174, 51, 0.3);
    margin-bottom: 5vh;
    color: white;
    text-shadow: 2px 1px black;
}

.formcontrol{
    background-color: rgba(red, green, blue, 0.0);
    background-color: rgba(0, 0, 0, 0.0);
    margin: 7px;
    margin-left: 15px;
    width: 15vw;
    border: none;
}

.cadastrar{
    margin-top: 6vh;
    background-color: #f2b035;
    padding: 10px 60px 10px 60px;
}

.icon{
    height: 30px;
    width: 30px;
    margin: 7px;
}*/