a {
    color: inherit;
  }
  
  .navbar {
<<<<<<< HEAD
    background-color: #003829
    

    
=======
    background-color: rgb(37, 70, 22);
>>>>>>> 79a0beaa6eb31391b565b9442560754a89662ffb
  }
  
  #teste{
    color: white;
  }